@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    flex-flow: column wrap;
    height: 100%;
}
header {
    height: 150px;
    background: solid rgb(151, 150, 146);

}