@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display:flex;
    flex-flow:column wrap;
}


article {
    background: white;
    height: 480px;
    height: 25%;
}

h2 {
    
}